// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as Extend from "../../../index";

export declare namespace EvaluationSetItemsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EvaluationSetItemsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EvaluationSetItemsClient.Options>;

    constructor(options: EvaluationSetItemsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List items in a specific evaluation set.
     *
     * Returns a summary of each evaluation set item. Use the [Get Evaluation Set Item](https://docs.extend.ai/2026-02-09/developers/api-reference/endpoints/evaluation/get-evaluation-set-item) endpoint to get the full details of an evaluation set item.
     *
     * @param {string} evaluationSetId - The ID of the evaluation set.
     *
     *                                   Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
     * @param {Extend.EvaluationSetItemsListRequest} request
     * @param {EvaluationSetItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Extend.BadRequestError}
     * @throws {@link Extend.UnauthorizedError}
     * @throws {@link Extend.PaymentRequiredError}
     * @throws {@link Extend.ForbiddenError}
     * @throws {@link Extend.NotFoundError}
     * @throws {@link Extend.UnprocessableEntityError}
     * @throws {@link Extend.TooManyRequestsError}
     * @throws {@link Extend.InternalServerError}
     *
     * @example
     *     await client.evaluationSetItems.list("evaluation_set_id_here", {
     *         nextPageToken: "xK9mLPqRtN3vS8wF5hB2cQ==:zWvUxYjM4nKpL7aDgE9HbTcR2mAyX3/Q+CNkfBSw1dZ="
     *     })
     */
    public list(
        evaluationSetId: string,
        request: Extend.EvaluationSetItemsListRequest = {},
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): core.HttpResponsePromise<Extend.EvaluationSetItemsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(evaluationSetId, request, requestOptions));
    }

    private async __list(
        evaluationSetId: string,
        request: Extend.EvaluationSetItemsListRequest = {},
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Extend.EvaluationSetItemsListResponse>> {
        const { sortBy, sortDir, nextPageToken, maxPageSize } = request;
        const _queryParams: Record<string, unknown> = {
            sortBy: sortBy != null ? sortBy : undefined,
            sortDir: sortDir != null ? sortDir : undefined,
            nextPageToken,
            maxPageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-extend-api-version": requestOptions?.extendApiVersion ?? "2026-02-09" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ExtendEnvironment.Production,
                `evaluation_sets/${core.url.encodePathParam(evaluationSetId)}/items`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Extend.EvaluationSetItemsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Extend.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Extend.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Extend.PaymentRequiredError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Extend.ForbiddenError(_response.error.body as Extend.ApiError, _response.rawResponse);
                case 404:
                    throw new Extend.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Extend.UnprocessableEntityError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Extend.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Extend.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ExtendError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/evaluation_sets/{evaluationSetId}/items",
        );
    }

    /**
     * Evaluation set items are the individual files and expected outputs that are used to evaluate the performance of a given extractor, classifier, or splitter in Extend. This endpoint will create new evaluation set items in Extend, which will be used during an evaluation run.
     *
     * **Limit:** You can create up to 100 items at a time.
     *
     * Learn more about how to create evaluation set items in the [Evaluation Sets](https://docs.extend.ai/product/evaluation/overview) product page.
     *
     * @param {string} evaluationSetId - The ID of the evaluation set.
     *
     *                                   Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
     * @param {Extend.EvaluationSetItemsCreateRequest} request
     * @param {EvaluationSetItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Extend.BadRequestError}
     * @throws {@link Extend.UnauthorizedError}
     * @throws {@link Extend.PaymentRequiredError}
     * @throws {@link Extend.ForbiddenError}
     * @throws {@link Extend.NotFoundError}
     * @throws {@link Extend.UnprocessableEntityError}
     * @throws {@link Extend.TooManyRequestsError}
     * @throws {@link Extend.InternalServerError}
     *
     * @example
     *     await client.evaluationSetItems.create("evaluation_set_id_here", {
     *         items: [{
     *                 fileId: "file_id_here",
     *                 expectedOutput: {}
     *             }]
     *     })
     */
    public create(
        evaluationSetId: string,
        request: Extend.EvaluationSetItemsCreateRequest,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): core.HttpResponsePromise<Extend.EvaluationSetItemsCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(evaluationSetId, request, requestOptions));
    }

    private async __create(
        evaluationSetId: string,
        request: Extend.EvaluationSetItemsCreateRequest,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Extend.EvaluationSetItemsCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-extend-api-version": requestOptions?.extendApiVersion ?? "2026-02-09" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ExtendEnvironment.Production,
                `evaluation_sets/${core.url.encodePathParam(evaluationSetId)}/items`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Extend.EvaluationSetItemsCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Extend.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Extend.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Extend.PaymentRequiredError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Extend.ForbiddenError(_response.error.body as Extend.ApiError, _response.rawResponse);
                case 404:
                    throw new Extend.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Extend.UnprocessableEntityError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Extend.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Extend.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ExtendError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/evaluation_sets/{evaluationSetId}/items",
        );
    }

    /**
     * Get details of an evaluation set item.
     *
     * @param {string} evaluationSetId - The ID of the evaluation set.
     *
     *                                   Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
     * @param {string} itemId - The ID of the evaluation set item.
     *
     *                          Example: `"evi_kR9mNP12Qw4yTv8BdR3H"`
     * @param {EvaluationSetItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Extend.BadRequestError}
     * @throws {@link Extend.UnauthorizedError}
     * @throws {@link Extend.PaymentRequiredError}
     * @throws {@link Extend.ForbiddenError}
     * @throws {@link Extend.NotFoundError}
     * @throws {@link Extend.UnprocessableEntityError}
     * @throws {@link Extend.TooManyRequestsError}
     * @throws {@link Extend.InternalServerError}
     *
     * @example
     *     await client.evaluationSetItems.retrieve("evaluation_set_id_here", "evaluation_set_item_id_here")
     */
    public retrieve(
        evaluationSetId: string,
        itemId: string,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): core.HttpResponsePromise<Extend.EvaluationSetItem> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(evaluationSetId, itemId, requestOptions));
    }

    private async __retrieve(
        evaluationSetId: string,
        itemId: string,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Extend.EvaluationSetItem>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-extend-api-version": requestOptions?.extendApiVersion ?? "2026-02-09" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ExtendEnvironment.Production,
                `evaluation_sets/${core.url.encodePathParam(evaluationSetId)}/items/${core.url.encodePathParam(itemId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Extend.EvaluationSetItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Extend.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Extend.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Extend.PaymentRequiredError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Extend.ForbiddenError(_response.error.body as Extend.ApiError, _response.rawResponse);
                case 404:
                    throw new Extend.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Extend.UnprocessableEntityError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Extend.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Extend.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ExtendError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/evaluation_sets/{evaluationSetId}/items/{itemId}",
        );
    }

    /**
     * If you need to change the expected output for a given evaluation set item, you can use this endpoint to update the item. This can be useful if you need to correct an error in the expected output or if the output of the extractor, classifier, or splitter has changed.
     *
     * @param {string} evaluationSetId - The ID of the evaluation set.
     *
     *                                   Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
     * @param {string} itemId - The ID of the evaluation set item.
     *
     *                          Example: `"evi_kR9mNP12Qw4yTv8BdR3H"`
     * @param {Extend.EvaluationSetItemsUpdateRequest} request
     * @param {EvaluationSetItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Extend.BadRequestError}
     * @throws {@link Extend.UnauthorizedError}
     * @throws {@link Extend.PaymentRequiredError}
     * @throws {@link Extend.ForbiddenError}
     * @throws {@link Extend.NotFoundError}
     * @throws {@link Extend.UnprocessableEntityError}
     * @throws {@link Extend.TooManyRequestsError}
     * @throws {@link Extend.InternalServerError}
     *
     * @example
     *     await client.evaluationSetItems.update("evaluation_set_id_here", "evaluation_set_item_id_here", {
     *         expectedOutput: {}
     *     })
     */
    public update(
        evaluationSetId: string,
        itemId: string,
        request: Extend.EvaluationSetItemsUpdateRequest,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): core.HttpResponsePromise<Extend.EvaluationSetItem> {
        return core.HttpResponsePromise.fromPromise(this.__update(evaluationSetId, itemId, request, requestOptions));
    }

    private async __update(
        evaluationSetId: string,
        itemId: string,
        request: Extend.EvaluationSetItemsUpdateRequest,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Extend.EvaluationSetItem>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-extend-api-version": requestOptions?.extendApiVersion ?? "2026-02-09" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ExtendEnvironment.Production,
                `evaluation_sets/${core.url.encodePathParam(evaluationSetId)}/items/${core.url.encodePathParam(itemId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Extend.EvaluationSetItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Extend.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Extend.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Extend.PaymentRequiredError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Extend.ForbiddenError(_response.error.body as Extend.ApiError, _response.rawResponse);
                case 404:
                    throw new Extend.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Extend.UnprocessableEntityError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Extend.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Extend.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ExtendError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/evaluation_sets/{evaluationSetId}/items/{itemId}",
        );
    }

    /**
     * Delete an evaluation set item.
     *
     * @param {string} evaluationSetId - The ID of the evaluation set.
     *
     *                                   Example: `"ev_2LcgeY_mp2T5yPaEuq5Lw"`
     * @param {string} itemId - The ID of the evaluation set item.
     *
     *                          Example: `"evi_kR9mNP12Qw4yTv8BdR3H"`
     * @param {EvaluationSetItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Extend.BadRequestError}
     * @throws {@link Extend.UnauthorizedError}
     * @throws {@link Extend.PaymentRequiredError}
     * @throws {@link Extend.ForbiddenError}
     * @throws {@link Extend.NotFoundError}
     * @throws {@link Extend.UnprocessableEntityError}
     * @throws {@link Extend.TooManyRequestsError}
     * @throws {@link Extend.InternalServerError}
     *
     * @example
     *     await client.evaluationSetItems.delete("evaluation_set_id_here", "evaluation_set_item_id_here")
     */
    public delete(
        evaluationSetId: string,
        itemId: string,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): core.HttpResponsePromise<Extend.EvaluationSetItemsDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(evaluationSetId, itemId, requestOptions));
    }

    private async __delete(
        evaluationSetId: string,
        itemId: string,
        requestOptions?: EvaluationSetItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Extend.EvaluationSetItemsDeleteResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-extend-api-version": requestOptions?.extendApiVersion ?? "2026-02-09" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ExtendEnvironment.Production,
                `evaluation_sets/${core.url.encodePathParam(evaluationSetId)}/items/${core.url.encodePathParam(itemId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Extend.EvaluationSetItemsDeleteResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Extend.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Extend.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Extend.PaymentRequiredError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Extend.ForbiddenError(_response.error.body as Extend.ApiError, _response.rawResponse);
                case 404:
                    throw new Extend.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Extend.UnprocessableEntityError(
                        _response.error.body as Extend.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Extend.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Extend.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ExtendError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/evaluation_sets/{evaluationSetId}/items/{itemId}",
        );
    }
}
